<h1><%= plural_table_name %></h1>

<%%= link_to fa_icon("plus-circle",:text=>'New <%= human_name %>'), new_<%= singular_table_name %>_path, :class=>"btn btn-primary btn-large" %>

<br>

<table class="table table-striped nowrap datatable">
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td><%%= link_to (fa_icon "info-circle",:text=>"Show") , <%= singular_table_name %>,:class=>"btn btn-primary" %></td>
        <td><%%= link_to (fa_icon "edit",:text=>"Edit" ), edit_<%= singular_table_name %>_path(<%= singular_table_name %>),:class=>"btn btn-warning" %></td>
        <td><%%= link_to (fa_icon "trash-o",:text=>"Delete" ), <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger" %></td>
      </tr>
    <%% end %>
  </tbody>
</table>
